$droneHeight: 170px;
$droneWidth: 70px;
$darkGrey: #6D6D6D;
$lightGrey: #bfbdbd;

@mixin body-part {
  display: inline-block;
  width: 50%;
  height: 100%;
  border-radius: 10px;
}

@mixin triangle {
  position: absolute;
  border: 35px solid transparent;
  border-radius: 10px;
}

@mixin drone-parameters {
  position: relative;
  width: $droneWidth;
  height: $droneHeight;
}

.drone {
  @include drone-parameters;

  transform: translate(-50%, -50%);
  transition: 1s;

  &__body {
    @include drone-parameters;

    box-sizing: border-box;
    border-radius: 30px;

    &-left {
      @include body-part;

      background-color: $darkGrey;
    }

    &-right {
      @include body-part;

      background-color: $lightGrey;
    }

    &-triangle-top {
      @include triangle;

      top: 0;
      border-top: 35px solid $darkGrey;
    }

    &-triangle-bottom {
      @include triangle;

      bottom: 0;
      border-bottom: 35px solid $lightGrey;
    }
  }
}

